---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout 
  title={frontmatter.data.title}
  description={frontmatter.data.description}
  author={frontmatter.data.author}
  publishedTime={frontmatter.data.pubDate.toLocaleDateString()}
  type="article"
  tags={frontmatter.data.tags}
  image={frontmatter.data.image.url}
>
  <p>Published on {frontmatter.data.pubDate.toLocaleDateString()}</p>
  <p><em>{frontmatter.data.description}</em></p>
  <p>Written by {frontmatter.data.author}</p>
  <img src={frontmatter.data.image.url} width="300" alt={frontmatter.data.image.alt} />
  <div class="tags">
    {frontmatter.data.tags.map((tag: string) => (<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>))}
  </div>
  <slot />
</BaseLayout>


<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>